<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="https://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd
  https://www.springframework.org/schema/context
  https://www.springframework.org/schema/context/spring-context.xsd">
  
	<bean class="com.springcore.primitive.Student" name="stud1">
  	<property name="studentId">
		<value>101</value>
	</property>
	
	<property name="studentName">
		<value>Sachin Bali</value>
	</property>

	<property name="studentAddress">
		<value>Mumbai, Pune</value>
	</property>
  </bean>
  
    <bean class="com.springcore.primitive.Student" name="stud2">
	  	<property name="studentId" value="102"/>
		<property name="studentName" value="Amol Bali"/>
		<property name="studentAddress" value="Jaulka"/>
  </bean>
  
  <bean class="com.springcore.primitive.Student" name="stud3" p:studentId="103" p:studentName="Ramu" p:studentAddress="Washim"/>
  
  <!-- more bean definitions go here -->
</beans>
